<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
	<link rel="alternate" type="application/rss+xml" title="Devotional Articles RSS"
	      href="/feed.xml" />
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
	    <span class="extra">{{ site.description }}</span>
          </div>
	  
	  <div class="content">
            {{ content }}
	  </div>
	  
          <div class="footer">
            <div class="contact">
              <p>
                Daniel Baker<br />
                Writer & Former Pastor<br />
		Wheaton Alum - BS 1977, MA 1982
	      </p>
	    </div>
	    <div class="rss">
	      <p>
		<a href="/feed.xml">RSS</a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
